<nav class="navbar navbar-expand-lg navbar-light bg-light" style="position: relative; z-index: 1050;">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="navigateToCategoria()"> <img src="assets/images/Logo2.png" alt="Logo" height="40" style="height: 15vh;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Cerrar Sesion</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/info">Sobre Nosotros</a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorías
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#">Terror</a></li>
                      <li><a class="dropdown-item" href="#">Romance</a></li>
                      <li><a class="dropdown-item" href="#">Comedia</a></li>
                      <li><a class="dropdown-item" href="#">Drama</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Categoría Extra</a></li>
                  </ul>
              </li>
          </ul>
          <form class="d-flex" (submit)="onSearch($event)">
             <input id="search-input" class="form-control me-2" type="search" placeholder="Busca por título, categoría, autor..." aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
          </form>
      </div>
  </div>
</nav>

<div id="iframe-container" style="display: none;">
  <div class="iframe-overlay">
      <button class="close-btn" (click)="hideIframe()">Cerrar Buscador</button>
      <iframe src="/busqueda" frameborder="0" width="80%" height="80%"></iframe>
  </div>
</div>
