/* Botón de cerrar */
.close-btn {
  background-color: #ff7043;
  position: absolute;
  top: 20px;
  right: 10px; /* Cambiado a la esquina derecha */
  color: #5a3e36; /* Cambiado el color */
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background-color: #ff5722;
  transform: scale(1.1);
}

.close-btn:focus {
  outline: none;
}

/* Contenedor del carrito */
#carrito-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 35%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: block;
  transition: transform 0.3s ease;
  overflow-y: auto;
  padding-top: 60px;
}

.overlay {
  height: 100%;
  padding: 20px;
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 60px; /* Asegurando que todas las imágenes de los libros tengan el mismo tamaño */
  height: 100px; 
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.item p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.price {
  font-size: 1.2rem;
  color: #ff7043;
}

.quantity {
  font-size: 1rem;
  color: #666;
}

/* Mostrar la cantidad de libros */
.quantity-display {
  margin: 0 10px;
  font-weight: bold;
  color: #5a3e36;
}

.controls button {
  padding: 5px 10px;
  background-color: #5a3e36;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
  background-color: #ff7043;
  transform: scale(1.1);
}

.controls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.6;
}

.total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#iframe-container {
  position: fixed;
  right: 0;
  width: 40%;
  height: 100%;
  animation: slideDown 0.5s forwards;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

#iframe-container.show {
  display: flex;
}

.iframe-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #fff;
  border-radius: 10px;
}

.iframe-overlay iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Integrar los botones superiores izquierdos */
.navbar .btn {
  background-color: #a77e65; /* Más oscuro */
  color: white;
  border: none;
  padding: 15px 25px; /* Botones más grandes */
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .btn:hover {
  background-color: #8f654d; /* Más oscuro */
  transform: scale(1.1);
}

.navbar {
  background-color: #d3b8ae !important; /* Ajustado a un tono ligeramente más oscuro */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1050;
  transition: background-color 0.3s ease;
}

body {
  padding-top: 60px; /* Asegura que el contenido no se esconda detrás del header fijo */
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.navbar .navbar-brand:hover {
  color: #997b6c !important;
  transform: scale(1.1); /* Efecto zoom */
}

.navbar .nav-link {
  font-size: 1.2rem; /* Aumentado */
  color: #a67c68; /* Ligera más clara que el fondo */
  border: 1px solid #a67c68; /* Bordes finos */
  border-radius: 8px; /* Bordes redondeados */
  padding: 5px 10px;
  margin-right: 15px; /* Espaciado entre los enlaces */
  transition: color 0.3s ease, transform 0.2s ease;
}

.navbar .nav-link:hover {
  color: #8f654d; /* Más oscuro */
  transform: scale(1.1);
}

.navbar .dropdown-menu {
  background-color: #f8f9fa;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.navbar .d-flex {
  width: 50%;
  margin-right: 15%;
  justify-content: center;
}

.navbar .dropdown-item {
  background: #f8f9fa;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background: #eaddca;
  color: #5a3e36;
}

/* Ajustar barra superior del carrito */
#carrito-container .carrito-barra-superior {
  background-color: #000; /* Color negro */
  height: 50px;
  border-top-right-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}









