/* Botón de cerrar */
.close-btn {
  background-color: #ff7043;
  position: absolute;
  top: 20px; /* Separación desde la parte superior */
  left: -30px; /* Fuera del contenedor, ajustable */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000; /* Asegura que el botón esté encima */
  width: 50px; /* Establece un ancho fijo para evitar que se alargue */
  height: 50px; /* Establece un alto fijo */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background-color: #ff5722;
}

.close-btn:focus {
  outline: none;
}

/* Contenedor del carrito */
#carrito-container {
  position: fixed;
  right: 0; /* Fija el carrito a la derecha */
  top: 0;
  width: 35%; /* Controla el ancho del carrito */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
  z-index: 9999;
  display: block;
  transition: transform 0.3s ease;
  overflow-y: auto;
  position: relative; /* Relativo para que los elementos dentro se posicionen bien */
  padding-top: 60px; /* Añade algo de espacio para que el botón de cerrar no esté pegado al borde */
}

/* Estilo de la superposición */
.overlay {
  position: relative;
  height: 100%;
  padding: 20px;
  background-color: white;
  overflow-y: auto; /* Habilita el scroll vertical */
}

/* Estilo de los productos del carrito */
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.03); /* Agranda ligeramente el item cuando se pasa el ratón */
}

/* Estilo de las imágenes de los libros */
.item img {
  width: 50px;
  height: 75px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

/* Texto de los libros */
.item p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

/* Estilo para el precio y cantidad */
.price, .quantity {
  font-size: 1.2rem;
  color: #ff7043;
}

.quantity {
  font-size: 1rem;
  color: #666;
}

/* Animación de deslizamiento */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

/* Estilos del iframe */
#iframe-container {
  position: absolute;
  right: 0; /* Alineado a la derecha */
  width: 100%; /* Ancho */
  height: 100%; /* Altura */
  animation: slideDown 0.5s forwards;
  max-height: calc(100% - 56px); /* Altura máxima, teniendo en cuenta la altura del navbar */
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none; /* Inicialmente oculto */
  align-items: center;
  justify-content: center;
}

#iframe-container.hide {
  animation: slideUp 0.5s forwards; /* Aplica la animación slideUp */
}

.iframe-overlay {
  position: relative;
  width: 100%;
  height: 120%;
  opacity: 0.9;
  border-radius: 40%;
}

.iframe-overlay iframe {
  width: 100%;
  height: 120%;
  border: none;
}

/* Estilos del navbar */
.navbar.navbar-light.bg-light {
  background: transparent !important; /* Fondo transparente */
  position: fixed!important; /* Posición fija */
  width: 100%; /* Ancho completo */
  z-index: 1050; /* Z-index alto para que se superponga a otros elementos */
  transition: background 0.3s ease;
}

.navbar.navbar-light.bg-light .navbar-brand,
.navbar.navbar-light.bg-light .nav-link {
  transition: color 0.3s ease, transform 0.3s ease; /* Agrega transición al transform */
  font-size: 2.5vh; /* Tamaño de fuente más pequeño */
}

.navbar.navbar-light.bg-light .navbar-brand:hover,
.navbar.navbar-light.bg-light .nav-link:hover {
  color: #997b6c !important; /* Cambia el color al pasar el ratón por encima */
  transform: scale(1.1); /* Hace los elementos más grandes al pasar el ratón por encima */
}

.navbar.navbar-light.bg-light .dropdown-menu {
  transition: all 0.3s ease;
  animation: slideIn 0.5s forwards; /* Agrega animación de deslizamiento */
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Estilos del formulario de búsqueda */
.navbar .d-flex {
  width: 50%; /* Ancho completo */
  margin-right: 15%;
  justify-content: center; /* Centrado */
}

.navbar.navbar-light.bg-light .dropdown-item {
  position: relative; /* Posición relativa para el pseudo-elemento ::after */
  background: #f8f9fa; /* Fondo estático */
  transition: background 0.3s ease;
  overflow: hidden; /* Oculta el pseudo-elemento ::after cuando se desborda */
}

.navbar.navbar-light.bg-light .dropdown-item::after {
  content: ""; /* Contenido vacío */
  position: absolute; /* Posición absoluta */
  top: 0;
  left: -100%; /* Inicia a la izquierda del elemento */
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #997b6c, #eaddca); /* Fondo que cambia de color */
  transition: left 2s ease; /* Transición en la propiedad left */
}

.navbar.navbar-light.bg-light .dropdown-item:hover::after {
  left: 100%; /* Mueve el pseudo-elemento ::after a la derecha del elemento */
}
