/* Botón de cerrar */
.close-btn {
  background-color: #70ac69;
  position: absolute;
  top: 20px;
  right: 10px; /* Cambiado a la esquina derecha */
  color: #000000; /* Cambiado el color */
  padding: 10px 20px;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  width: 80px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background-color: #63995d;
  transform: scale(1.1);
}

.close-btn:focus {
  outline: none;
}

/* Contenedor del carrito */
#carrito-container {
  position: fixed;
  right: 0;
  top: 0;
  width: 35%;
  height: 110%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: block;
  transition: transform 0.3s ease;
  overflow-y: auto;
  padding-top: 0px;
}

.overlay {
  height: 100%;
  padding: 20px;
  background-color: rgb(233, 218, 198);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.item:hover {
  transform: scale(1.03);
}

.item img {
  width: 60px; 
  height: 100px; 
  object-fit: cover;
  border-radius: 5px;
  margin-right: 15px;
}

.item p {
  margin: 0;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}

.price {
  font-size: 1.2rem;
  color: #6eb168;
}

.quantity {
  font-size: 1rem;
  color: #666;
}

/* Mostrar la cantidad de libros */
.quantity-display {
  margin: 0 10px;
  font-weight: bold;
  color: #ceffba;
}

.controls button {
  padding: 5px 10px;
  background-color: #5a3e36;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.controls button:hover {
  background-color: #558351;
  transform: scale(1.1);
}

.controls button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.6;
}

.total {
  text-align: right;
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}

#iframe-container {
  position: fixed;
  right: 0;
  width: 40%;
  height: 100%;
  animation: slideDown 0.5s forwards;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

#iframe-container.show {
  display: flex;
}

.iframe-overlay {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: #fff;
  border-radius: 10px;
}

.iframe-overlay iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.navbar .btn {
  background-color: #74a765; 
  color: white;
  border: none;
  padding: 15px 25px; 
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar .btn:hover {
  background-color: #6c7c68; 
  transform: scale(1.1);
}

.navbar {
  background-color: #e7d3c7 !important;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1050;
  transition: background-color 0.3s ease;
}

body {
  padding-top: 60px; 
  background-color: #ffffff;
}

.navbar .navbar-brand {
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.navbar .navbar-brand:hover {
  color: #99d394 !important;
  transform: scale(1.1); /* Efecto zoom */
}

.navbar .nav-link {
  font-size: 1.2rem; /* Aumentado */
  color: #4d9953; /* Ligera más clara que el fondo */
  border: 1px solid #4d9953; /* Bordes finos */
  border-radius: 8px; /* Bordes redondeados */
  padding: 5px 10px;
  margin-right: 15px; /* Espaciado entre los enlaces */
  transition: color 0.3s ease, transform 0.2s ease;
  background-color: #f3efe1;
}

.navbar .nav-link:hover {
  color: #9cbb9a; /* Más oscuro */
  transform: scale(1.1);
}

.navbar .dropdown-menu {
  background-color: #006405;
  animation: slideIn 0.5s forwards;
}



.navbar .d-flex {
  width: 50%;
  margin-right: 15%;
  justify-content: center;
}
#iframe-container-busqueda{
  position: fixed; 
  margin-top: 6%;  
  background-color: rgb(255, 255, 255); 
  margin-left: 39%; 
  margin-right: 40%; 
  width: 36%; 
  height: 80%; 
  z-index: 9999;
}

#busc{
  position: relative; height: 100%; padding: 20px; background-color: white;
}

.navbar .dropdown-item {
  background: #ffffff;
  transition: background-color 0.3s ease;
}

.navbar .dropdown-item:hover {
  background: #d1eec6;
  color: #000000;
}
@keyframes slideIn {
  from {
    transform: translatey(-50%);
  }
  to {
    transform: translatey(0);
  }
}
#laslistas{
  margin-left: 87%;
  margin-top: -3%;
}
@media (max-width: 768px) {
  /* Navbar */
  .navbar {
    padding: 10px;
  }
  #botonusuario{
    position: absolute;
    margin-top: -110px;
    margin-left: 270px;
  }
  #desaparecer{
    position: absolute;  
    margin-top: 0px;
    margin-left: 140px;
  }
  #laslistas{
    width: 30px;
    margin-top: -33%;
    position: absolute;
    margin-left: 235px;
    font-size: small;
  }

  #categolist{
    position: absolute;
    width: 60px;
    margin-left: -13px;
  }

 #search-input{
position: absolute;
margin-right: 1000px;
width: 270px;
margin-top: 30px;
 }
#buscarq{
  width: 75px;
  height: 35px;
  margin-top: 20px;
  text-align: center;
  align-content: center;
  padding-top: 4px;
}
#compraq{
  margin-top: 20px;
}
  .navbar .navbar-brand img {
    height: 10vh; /* Ajustar tamaño del logo */
  }

  .navbar .nav-link {
    font-size: 1rem;
    margin-right: 10px;
    padding: 5px;
  }

  .navbar .d-flex {
    flex-direction: column;
    width: 100%;
    margin-right: 0;
  }

  .navbar .d-flex input {
    width: 100%;
    margin: 10px 0;
  }

  .navbar .btn {
    padding: 10px;
    width: 100%;
  }
  #navbarDropdown{
    width: 130px;
    text-align: center;
  }
  /* Menú desplegable */
  .navbar .dropdown-menu {
    position: static;
    float: none;
    width: 100%;
  }

  .navbar .dropdown-item {
    text-align: center;
    padding: 10px;
  }

  /* Contenedor del carrito */
  #carrito-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .overlay {
    padding: 10px;
  }

  .item img {
    width: 50px;
    height: 80px;
  }

  .item {
    flex-direction: column;
    align-items: flex-start;
  }

  /* Botones de control */
  .controls button {
    padding: 5px 8px;
    font-size: 0.9rem;
  }

  /* Total del carrito */
  .total {
    text-align: center;
    font-size: 1.2rem;
  }
}

/* Ajustes para pantallas medianas */
@media (max-width: 992px) {
 /* Navbar */
 .navbar {
  padding: 10px;
}
#botonusuario{
  width: 90px;
  height: 65px;
  position: absolute;
  margin-top: -152px;
  margin-left: 650px;
  font-size: xx-large;
}
#desaparecer{
  width: 190px;
  height: 65px;
  align-items: center;
  text-align: center;
  padding-top: 12px;
  position: absolute;  
  margin-top: 0px;
  margin-left: 330px;
  font-size: x-large;
  
}
#laslistas{
  width: 190px;
  margin-top: -20%;
  position: absolute;
  margin-left: 620px;
  font-size: larger;
}

#categolist{
  position: absolute;
  width: 215px;
  margin-left: -13px;
  height: 65px;
  font-size: x-large;
}

#search-input{
position: absolute;
margin-right: 1000px;
width: 610px;
margin-top: 30px;
height: 60px;
font-size: larger;
}
#buscarq{
width: 85px;
margin-top: 20px;
width: 140px;
height: 50px;
align-items: center;
text-align: center;
padding-top: 10px;
height: 60px;
font-size: x-large;
}
#compraq{
margin-top: 20px;
height: 52px;
font-size: x-large;
align-items: center;
padding-top: 5px;
}
.navbar .navbar-brand img {
  height: 10vh; /* Ajustar tamaño del logo */
}

.navbar .nav-link {
  font-size: 1rem;
  margin-right: 10px;
  padding: 5px;
}

.navbar .d-flex {
  flex-direction: column;
  width: 100%;
  margin-right: 0;
}

.navbar .d-flex input {
  width: 100%;
  margin: 10px 0;
}

.navbar .btn {
  padding: 10px;
  width: 100%;
}
#navbarDropdown{
  width: 130px;
  text-align: center;
  width: 190px;
  height: 65px;
  font-size: x-large;
  padding-top: 12px;
}
/* Menú desplegable */
.navbar .dropdown-menu {
  position: static;
  float: none;
  width: 100%;
}

.navbar .dropdown-item {
  text-align: center;
  padding: 10px;
}

/* Contenedor del carrito */
#carrito-container {
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.overlay {
  padding: 10px;
}

.item img {
  width: 50px;
  height: 80px;
}

.item {
  flex-direction: column;
  align-items: flex-start;
}

/* Botones de control */
.controls button {
  padding: 5px 8px;
  font-size: 0.9rem;
}

/* Total del carrito */
.total {
  text-align: center;
  font-size: 1.2rem;
}
}













