.imagenfondo {
    background-image: url("../../assets/images/fondo-rotado.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.component-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    color: #5D4037;
    margin: 7em 0 0 0;
    padding: 0;
}

.container {
    max-width: 900px;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #eaddca;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    color: #997b6c;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5em;
    color: #997b6c;
    margin-bottom: 0px;
}

p {
    font-size: 1em;
    line-height: 1.6;
}

p > span {
    font-weight: 600;
    color: #614e45;
}

#iframe-container {
    width: 80%;
    height: 250px;
    border: none;
    margin-top: 10px;
}

.underline-animation {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #997b6c;
}

.underline-animation::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #997b6c;
    transition: width 0.25s ease-in-out;
}

.underline-animation:hover::after {
    width: 100%;
}

.close-btn {
    background-color: #D7CCC8;
    color: #5D4037;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #BCAAA4;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 10px;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }

    #iframe-container {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 480px) {
    .component-container {
        margin: 4em 0 0 0;
    }

    h1 {
        font-size: 1.2em;
    }

    h2 {
        font-size: 1em;
    }

    p {
        font-size: 0.8em;
    }

    #iframe-container {
        width: 100%;
        height: 150px;
    }
}