<div class="imagenfondo">
  <div class="component-container">
    <div class="container">
      <h1 class="page-title">Sobre Nosotros</h1>
      
      <p class="description">
        Bienvenidos a <strong>Libera</strong>, tu librería de confianza donde encontrarás una amplia selección de libros
        y recursos para todas las edades y gustos. Nos dedicamos a fomentar la lectura y el aprendizaje,
        ofreciendo un espacio acogedor y una experiencia única para todos nuestros visitantes.
      </p>
      
      <h2 class="section-title">Contacto</h2>
      <p class="contact-info">
        Puedes contactarnos llamando o enviándonos un WhatsApp al 
        <span class="highlight">+34 654 46 90 29</span>
      </p>
      
      <h2 class="section-title">Ubicación</h2>
      <p class="contact-info">
        Puedes encontrar nuestra librería en la Avenida de Monforte de Lemos 36, 
        en el Centro Comercial La Vaguada, Madrid.
      </p>
      
      <div class="map-container">
        <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.7990221406867!2d-3.70978052460646!3d40.479711051804685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42299ea90534b7%3A0xccee98581c84edbe!2sCentro%20Comercial%20La%20Vaguada!5e0!3m2!1ses!2ses!4v1716489401552!5m2!1ses!2ses"
          allowfullscreen="" 
          loading="lazy">
        </iframe>
      </div>
      
      <a href="/" class="button">Volver a la Tienda</a>
    </div>
  </div>
</div>