<div class="button-group">
  <h3>Libros</h3>
  <button (click)="toggleCreateBookForm()">Crear Libro</button>
  <div *ngIf="showCreateBookForm">
    <form (ngSubmit)="createBook()">
      <select [(ngModel)]="id_categoria" name="id_categoria" required>
        <option value="">Categorias</option>
        <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nombre_categoria }}</option>
      </select>          
      <input type="text" placeholder="Título" [(ngModel)]="titulo" name="Titulo" required>
      <input type="text" placeholder="Autor" [(ngModel)]="autor" name="Autor" required>
      <input type="number" placeholder="Precio" [(ngModel)]="precio" name="Precio" [ngModelOptions]="{updateOn: 'blur'}" required>
      <input type="number" placeholder="Stock" [(ngModel)]="stock" name="Stock" [ngModelOptions]="{updateOn: 'blur'}" required>
      <input type="url" placeholder="Link" [(ngModel)]="link" name="Link" required>
      <textarea placeholder="Resumen" [(ngModel)]="resumen" name="Resumen" required></textarea><br>
      <button type="submit">Guardar</button>
    </form>
  </div>

  <button (click)="toggleEditBookForm()">Editar Libro</button>
<div *ngIf="showEditBookForm">
  <form (ngSubmit)="editBook()">
    <select [(ngModel)]="id_categoria" name="id_categoria_edit" required>
      <option value="">Categorias</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
        {{ categoria.nombre_categoria }}
      </option>
    </select>
    <input type="text" placeholder="ID del Libro" [(ngModel)]="id_libro" name="id_libro_edit" required>
    <input type="text" placeholder="Título" [(ngModel)]="titulo" name="Titulo_edit" required>
    <input type="text" placeholder="Autor" [(ngModel)]="autor" name="Autor_edit" required>
    <input type="number" placeholder="Precio" [(ngModel)]="precio" name="Precio_edit" [ngModelOptions]="{updateOn: 'blur'}" required>
    <input type="number" placeholder="Stock" [(ngModel)]="stock" name="Stock_edit" [ngModelOptions]="{updateOn: 'blur'}" required>
    <input type="url" placeholder="Link" [(ngModel)]="link" name="Link_edit" required>
    <textarea placeholder="Resumen" [(ngModel)]="resumen" name="Resumen_edit" required></textarea><br>
    <button type="submit">Guardar</button>
  </form>
</div>


  <button (click)="toggleDeleteBookForm()">Borrar Libro</button>
  <div *ngIf="showDeleteBookForm">
    <form (ngSubmit)="deleteBook()">
      <input type="text" placeholder="ID del Libro" [(ngModel)]="id_libro" name="id_libro_delete" required>
      <button type="submit">Borrar</button>
    </form>
  </div>
  <!-- Nuevo: Contenedor para el mensaje -->
  <div *ngIf="mostrarMensaje" class="mensaje">
    {{ mensaje }}
  </div>
</div>
<a href="/empleado"><button>Cerrar sesion</button></a>
<div>
  <h3>Tabla</h3>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Link</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let libro of libros">
        <td>{{ libro.id_libro }}</td>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.precio }}</td>
        <td>{{ libro.stock }}</td>
        <td>{{ libro.link }}</td>
      </tr>
    </tbody>
  </table>
</div>
