<h1 style="margin-top: 240px; font-size: 50px; text-align: center; color: rgb(0, 82, 0);">Libreria Libera</h1> <br>
<div id="fondo" >
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active"> 
        <img src="assets/images/carrousel1.webp" class="d-block w-100" alt="" height="700px">
      </div>
      <div class="carousel-item"> 
        <img src="assets/images/carrousel2.webp" class="d-block w-100" alt="..." height="700px">
      </div>
      <div class="carousel-item"> 
        <img src="assets/images/carrousel3.jpg" class="d-block w-100" alt="..." height="700px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    
  </div>
  <h1 style="color: rgb(0, 82, 0);;">Nuestros Libros</h1>
  <div id="id_cat">
    <!-- Categorías como un desplegable -->
    
    <select (change)="onCategoriaChange($event)" class="form-select">
      <option  value="">Todos</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
        {{ categoria.nombre_categoria }}
      </option>
    </select>
  </div>

  <div id="id_lib">
    <!-- Libros filtrados por la categoría seleccionada -->
    <div *ngFor="let libro of librosFiltrados" class="libro" style="margin: 5px; border: 1px solid #9e9e9e; border-radius: 10px;" [id]="'categoria-' + libro.id_categoria">
      <a [routerLink]="['/libro', libro.id_libro]" >
        <img [src]="libro.link" width="150" height="225px" style="transition: transform 0.3s ease; padding-top: 20px;"
        onmouseover="this.style.transform='scale(1.2)';"
        onmouseout="this.style.transform='scale(1)';">
      </a>
      <h4>{{ libro.nombre }}</h4>
      <p><b>Autor:</b> {{ libro.autor }}</p>
      <p><b>Precio:</b> ${{ libro.precio }}</p>
      <button style="background-color: blanchedalmond; color: rgb(1, 66, 1); border-radius: 15px; border-color: rgb(1, 66, 1);"
      (click)="agregarAlCarrito(libro)" 
      [ngClass]="{'disabled': libro.cantidad >= libro.stock}"
      [disabled]="libro.cantidad >= libro.stock">
      Agregar al carrito
    </button><br><br>
    </div>
  </div>
</div>
<div id="footer1">
  <img src="assets/images/footer.PNG" alt="">
</div>
<div id="footer">
  <div class="footer-section">
    <h3>Libreria Libera</h3>
    <ul>
      <li><a href="#">Quienes somos</a></li>
      <li><a href="#">Trabaja con nosotros</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Donde estamos</h3>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3034.7990221406867!2d-3.70978052460646!3d40.479711051804685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42299ea90534b7%3A0xccee98581c84edbe!2sCentro%20Comercial%20La%20Vaguada!5e0!3m2!1ses!2ses!4v1716489401552!5m2!1ses!2ses"
      width="100%"
      height="150"
      style="border:0;"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="footer-section">
    <h3>Servicios</h3>
    <ul>
      <li><a href="#">Libreria Libero Plus</a></li>
      <li><a href="#">Vende con nosotros</a></li>
      <li><a href="#">Venta a empresas e instituciones</a></li>
      <li><a href="#">Preventa</a></li>
      <li><a href="#">Información para editoriales</a></li>
      <li><a href="#">Libros al por mayor</a></li>
      <li><a href="#">Programa afiliados</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h3>Ayuda</h3>
    <ul>
      <li><a href="#">Pago seguro con tarjeta</a></li>
      <li><a href="#">Devoluciones</a></li>
      <li><a href="#">Gastos y formas de envío</a></li>
      <li><a href="#">Preguntas frecuentes</a></li>
      <li><a href="#">Contacta con nosotros</a></li>
      <li><a href="#">Bono cultural joven</a></li>
    </ul>
  </div>
</div>

