<div id="fondo">
  <div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/Carrousel_1.png" class="d-block w-100" alt="">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Carrousel_2.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/images/Carrousel_3.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div id="id_cat">
    <!-- Categorías como un desplegable -->
    <select (change)="onCategoriaChange($event)" class="form-select">
      <option value="">Seleccione una categoría</option>
      <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">
        {{ categoria.nombre_categoria }}
      </option>
    </select>
  </div>

  <div id="id_lib">
    <!-- Libros filtrados por la categoría seleccionada -->
    <div *ngFor="let libro of librosFiltrados" class="libro" style="margin: 5px" [id]="'categoria-' + libro.id_categoria">
      <a [routerLink]="['/libro/', libro.id_libro]">
        <img [src]="libro.link" width="150">
      </a>
      <h4>{{ libro.nombre }}</h4>
      <p>Autor: {{ libro.autor }}</p>
      <p>Precio: ${{ libro.precio }}</p>
      <button 
      (click)="agregarAlCarrito(libro)" 
      [ngClass]="{'disabled': libro.cantidad >= libro.stock}"
      [disabled]="libro.cantidad >= libro.stock">
      Agregar al carrito
    </button>
    </div>
  </div>
</div>