body.categoria-pagina {
    background-image: url('https://media.istockphoto.com/id/1376036104/es/vector/fondos-vectoriales-horizontales-grunge-de-color-marr%C3%B3n-leonado-o-beige-o-marr%C3%B3n-muy-claro.jpg?s=612x612&w=0&k=20&c=FoMqVZ1FAWeIKNQppDp2cEo8BMlwHkSNFTgXmwBDO_g=');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }